/* Estilos base del Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color:var(--color-bg-secondary);
    color: var(--color-text-primary);
    transition: transform 0.3s ease; /* Animación suave */
    transform: translateX(-100%); /* Escondido por defecto */
    z-index: 1000;
    padding: 20px;
}

/* Clase que aplicaremos con JS */
.sidebar.active {
    transform: translateX(0);
}

/* Capa oscura de fondo */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Escondida por defecto */
    z-index: 999;
}

.overlay.active {
    display: block;
}
#sidebar{
    display: block;
}
/* Botones y links (estética básica) */
.menu-links-sidebar { list-style: none; padding: 0; margin-top: 50px; }
.menu-links-sidebar li { padding: 15px 0; text-align: center}
.menu-links-sidebar a { var(--color-text-primary); text-decoration: none; font-size: 1.2rem; ; }
.btn-close { background: none; border: none; var(--color-text-primary); font-size: 2rem; cursor: pointer; position: absolute; right: 20px; }