/* tablet */

/* NAV */
.nav.container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icon-menu {
    display: none;
}
.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.nav-links a {
    color: var(--color-text-black);
}



/* ARTÍCULOS */
article {
    display: inline-block;
}

/* WHAT-IS */
.title-limit,
.what-is h2 {
    display: inline-block;
    text-align: center;
}
.title-limit {
    margin-bottom: 50px;
}
.what-is h2 {
    border-bottom: 2px solid var(--color-brand);
    padding-bottom: 20px;
    color: var(--color-text-black);
}

/* YEEZY */
.yeezy .title-limit {
    text-align: left;
}
.yeezy .container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/spotify-icon-white.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
}
.yeezy .left,
.yeezy .right {
    width: 45%;
    box-sizing: border-box;
}
.yeezy .right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.yeezy .right img {
    width: auto;
    max-height: 550px;
    display: block;
}
.yeezy h2 {
    display: inline-block;
    border-bottom: 2px solid var(--color-bg-light);
    padding-bottom: 20px;
    text-align: left;
    color: var(--color-text-primary);
    width: 100%;
}
.yeezy hr {
    text-align: center;
    margin: unset;
    margin-bottom: 50px;
}

/* FOOTER */
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
footer p {
    padding-top: 0;
}

a.signup{
    color: var(--color-text-primary);
}