/* Desktop ancho */
.hero h1{
    font-size: var(--font-size-6xl);
}

.hero p {
    font-size: var(--font-size-xl);
    margin: 20px;
}

.hero p .btn{
    display: block;
    width: 250px;
    margin: auto;
    margin-top: 50px;
}